:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    bottom: 10px;
    margin: auto;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    background-color: var(--color-light-gray);
}

.container {
    width: 320px;
    height: 497px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--color-white);
}

#qr-code-img {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px;
}

.text {
    width: calc(100% - 32px);
    margin: auto;
}

h1 {
    
}